<div class="todo">    
    <div class="sidevar_titulo">
        <h6 class="sidevar_titulo--h5 text-center">Prueba técnica - Sistema para la gestión personal de transacciones</h6>
    </div>
    <div class="sidevar__menu">
        <ul  class="dropdown">
            <li class="dropdown__list">
                    <ul class="dropdown__sub">
                        <li class="dropdown__li" routerLink="/listTransactions">
                            <a class="sidevar__menu--a" ><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
                            </svg>Transacciones</a>
                        </li>
                        <li class="dropdown__li" routerLink="/listCategories">
                            <a class="sidevar__menu--a" ><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
                            </svg>Categorías</a>
                        </li>
                    </ul>
            </li>
        </ul>
    </div>
    
<div>    
